$primary: #456dda;

.form {
    color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    .form-input {
        display: inline-block;
        color: black;
        padding: 10px;
        width: 250px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 2px;
        margin: 10px auto;
        margin: 0;
        transition: background-color 0.5s ease;
        margin-bottom: 15px;
    }
    label {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
    .form-input:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    .form-input:focus {
        outline: none !important;
        border: 2px solid $primary;
    }
    .form-submit {
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        background-color: $primary;
        border: 2px solid $primary;
        border-radius: 5px;
        cursor: pointer;
        width: max-content;
        transition: 0.25s ease;
    }
    .form-submit:hover {
        color: $primary;
        background-color: transparent;
    }
}

.navbar {
    width: 100%;
    margin-bottom: 50px;
    //border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    height: 50px;
    a {
        margin: 10px;
        color: inherit;
    }
}

.password-forget {
    margin-top: 30px;
    color: inherit;
}
.link-container {
    margin-top: 30px;
    display: flex;
    .link {
        color: inherit;
    }
}