
body{
    margin:0;
}

header{
	background-color: #E9FBFE;
	padding: 10px 0;
	top: 0;
	width: 100%;
	z-index: 11112;
	position: fixed;
}

header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo-link{
	line-height: 0;
}

#logo-link img{
	width: 50px;
}


header nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}


header nav a{
	padding: 1em;
	display: block;
	color: black;
	text-decoration: none;
}

header nav a:hover{
	color:#AA2D2D;
}

header nav li a:not([href]){
	pointer-events: none;
}


.container{
	max-width: 1170px;
	margin: auto;
}

.nav_gauche{
	width: 20%;
	position:fixed;
}

.nav_height{
	height: 100vh;
}
.row{
	display: flex;
	background-color:#F3F3F3;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
	margin-top:10px;
	padding-bottom: 50px;
	
}

.row a{
	text-decoration: none;
	padding: 20px;
	color: rgb(46, 35, 41);
	margin: 10px;
	background-color: #a5c9cf;
	border-radius: 20px;
}

.row a:hover{
	background-color: #73959b;
	font-size: 20px;
}

.main{
	width: 80%;
	margin-left: 20%;
	margin-top: 6%;
}

.containermain{
	max-width: 1050px;
	margin: 0 auto;
	width: 100%;
}

.login{
	max-width: 300px;
	display: flex;
	margin: 50px auto;
	flex-direction: column;
	padding-top: 50px;
}

.login label{
	color: #555;
	font-size: 1.5em;

}

.login input{
	margin:20px 0;
	width: 100%;
	height: 30px;
}

.login h1{
	font-size: 2em;
}